<div class="row row-cols-md-2 row-cols-1 mt-4">
  <div class="col">
    <img src="{{artwork.image}}" class="img-fluid" alt="{{artwork.name}}">
  </div>

  <div class="col mt-1 mt-md-0">
    <h3 class="fw-bold">{{artwork.name}}</h3>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{artwork.artist}}</h6>
    {{#if artwork.owner.username}}<p>{{artwork.owner.username}}</p>{{/if}}
    <span class="badge bg-secondary">{{artwork.discipline}}</span>

    <div class="d-flex mt-2">
      <form action="/artworks/{{artwork._id}}/verify" method="post">
        <button
          class="btn me-2 {{#if userPositive}}btn-success{{else}}btn-outline-success{{/if}}"
          type="submit" name="validation" value="true"
        >
          {{positiveVerifications}}
        </button>
      </form>
      <form action="/artworks/{{artwork._id}}/verify" method="post">
        <button
          class="btn {{#if userNegative}}btn-danger{{else}}btn-outline-danger{{/if}}"
          type="submit" name="validation" value="false"
        >
          {{negativeVerifications}}
        </button>
      </form>
    </div>
  </div>
</div>

<div class="mt-2">
  <h2>Related content</h2>

  {{#if relatedArtworks}}
    <div class="row row-cols-1 row-cols-md-3">
      {{#each relatedArtworks}}
        <div class="col">
          <a class="text-decoration-none" href="/artworks/{{this._id}}">
            {{>artwork this}}
          </a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>We could not find any artwork related</p>
  {{/if}}

</div>