<div class="card h-100">
  <img src="{{image}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{artist}}</h6>
    {{#if owner.username}}<a class="card-link" href="/profile/{{owner._id}}">{{owner.username}}</a>{{/if}}
    <span class="badge bg-secondary">{{discipline}}</span>
    <span class="badge bg-secondary">{{size}}</span>
  </div>
</div>